body {
  background-color: #bdc3c7;
}

.container {
  margin: 20px auto;
  width: 600px;
  padding: 20px 20px 20px 20px;
  border: 1px dotted black;
  border-radius: 5px;
}
.url_container {
  margin: 20px auto;
  width: 600px;
  padding: 20px 20px 20px 20px;
  border: 1px dotted black;
  border-radius: 5px;
}

.logout{
  position: fixed;
  top: 20px;
  right:10px;
  padding: 5px;
}
.logout a {
  color:white;
  text-decoration: none;
}

header {
  height: 80px;
  background-color:#2980b9;
}
th {
  text-align: left;
}

.header_h1{
  margin-top: 0;
  padding: 20px;
  color: white;
}

.error {
  color: red;
}

