<div class="container">
  <h2>Join us.</h2>

  <form action="/create_user" method="post">
    <input type="text" name="user[name]" placeholder="ie. Rachel Warbelow"><br>
    <input type="text" name="user[email]" placeholder="ie. rachelwarbelow@gmail.com"><br>
    <input type="password" name="user[password]" placeholder="password"><br>
    <input type="submit" value="Create User">
  </form>
</div>
