<div class="container">
  <form action="/urls" method="post">
    <input type="text" name="url[original_url]" placeholder="enter URL here">
    <input type="text" name="url[description]" placeholder="describe this link">
    <input type="submit" value="Let's make it short">
  </form>
</div>
